<main class="text-center d-flex flex-column justify-content-center vh-100 bg-light-subtle">
    <h1>Labelier</h1>
    <p class="fs-3 fw-light">{{ 'home.description' | translate }}</p>
    @if (isOldWorkspaceAvailable()) {
    <div class="container text-start col-xl-6 col-lg-8 col-12 mt-5">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">{{ 'home.oldWorkspace.title' | translate }}</h4>
            <p>{{ 'home.oldWorkspace.description' | translate }}</p>
            <hr>
            <div class="hstack justify-content-end gap-3">
                <button type="button" class="btn btn-outline-primary" (click)="loadNewDirectory()">{{ 'home.openNewButton' | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="migrateAndOpenOldWorkspace()">{{ 'home.migrateButton' | translate }}</button>
            </div>
        </div>
    </div>
    } @else {
    <div class="hstack justify-content-center gap-3 mt-2">
        @if (isPreviousWorkspaceAvailable()) {
        <button type="button" class="btn btn-primary" (click)="loadExistingDirectory()">{{ 'home.reopenSavedButton' | translate }}</button>
        }
        <button type="button" class="btn" [ngClass]="isPreviousWorkspaceAvailable() === true ? 'btn-outline-primary' : 'btn-primary'" (click)="loadNewDirectory()">{{ 'home.openNewButton' | translate }}</button>
    </div>
    }
</main>
